@charset "utf-8";
/* CSS Document */

div.ui-datepicker, .ui-datepicker td a, ui-datepicker-calendar mobile-enhanced td {
	font-size: 10px;
	border: none;
	background-color: #fffde5;
	padding: 5px;
}


.bouton_acc { 
	height: 60px;
	padding:2px 2px 2px 2px;
    border: 2px solid #8c1515;
    border-radius: 5px;
	width:80px; margin: 0 auto; display:block; 
	background-color: #fffde5;
}

.bouton_acc:active, img[alt='aide']:active {
	background-color: #b81c1c;
}

/* CSS de la carte */
#map-canvas{
padding-top:10%;
padding-bottom:10%;
height:auto;
position:absolute;
width:90%;
height:80%;
max-height:1600px;
overflow:hidden;
display:block;
}


/* bouton checkin de l'infowindow */
#checkin {
	width: 200px;
	height: 70px;
	margin-left: 5px;
	margin-top:20px;
	background-color:#820000;
	color:white;
	font-size:16px;
	font-weight:bold;
	border:1px solid;
	border-radius:15px;
}
 /*bouton info de l'infowindow*/
#info {
	width: 200px;
	height: 70px;
	margin-left:5px;
	margin-top:10px;
	margin-bottom:15px;
	background-color:#820000;
	color:white;
	font-size:16px;
	font-weight:bold;
	border:1px solid;
	border-radius:15px;
}
 /* nom du département dans l'infowindow*/
.departement {
	font-size:18px;
}

/* Zone en bas de l'écran de chat pour envoyer le message*/
.div_chat_send{
	bottom:0;
	position:fixed;
	width:100%;
	display : inline-block;
	background-color:#BBBBBB;
	
}

 /*Chat global */
 
/*Champs texte dans la page chat globale*/
.champ_texte_chat{
	width : 80%;
	float:left;
	margin-right:2%;
}


/* Zone  où les div champs texte sont affichées */
#div_champs_chat, #div_champs_messagerie, #div_champs_chatSociete {
	width : 100%;
	bottom : 100px;
	padding-bottom: 100px;
}


/* div correspondant à l'Icone d'envoi dans la page chat global */
.send_icon {
	margin-right:2%;
	height:50px;
}

/*Icone d'envoi dans la page chat global */
#send_chatmessage, #send_chat_private_message, #send_message_societe {
	height:90%;
	margin-left:5%;
}

/* Barre d'onglets dans la page générale chat */
#navbar_chat {
	position:fixed;
	top : 44px;
	width:100%;
}

/*Message venant de l'extérieur */
.line_gauche {
	padding : 5px;
	background-color:#B6C8D3;
	margin : 1%;
	margin-right:20%;
	border-style:solid;
	border-color: #25383c;
	border-width:1px;
	border-radius:17px;
}

/* Message écrit par le joueur */
.line_droite {
	padding : 5px;
	background-color:#5DFC85;
	margin : 1%;
	margin-left:20%;
	border-style:solid;
	border-color: #25383c;
	border-width:1px;
	border-radius:17px;
}

/* Pseudo du joueur */
.pseudo {
	padding-bottom:10px;
}


/* Icone de fleche bulle à gauche */
.fleche_bulle_gauche {
    position: absolute;
    left: 0%;
	z-index:0;
}

/* Icone de fleche bulle à droite */
.fleche_bulle_droite {
    position: absolute;
    right: 0%;
	z-index:0;
}


/* Messagerie privée */

/* Message dans le popup de la messagerie privée */
.message {
	text-align:justify;
	word-wrap:break-word;
	max-width:inherit;
	height:10%;
}

/* div contenant le message dans la popup */
#div_message {
	border-style:solid;
	border-width:1px;
	text-align:justify;
	word-wrap:break-word;
	max-width:inherit;
	height:70%;
}

/* Destinataire dans la messagerie privée */
#div_destinataire {
	border-style:solid;
	border-width:1px;
	max-width:inherit;
	word-break:break-all;
	height:10%;
}


/* Saisie du message -- messagerie privée */
#private_message {
	height:80%; 
	resize:none;
	max-height:85%;
}

/* Icone pour envoyer le message privé */
#send_chatmessage_icon {
	width:40px;
	height:40px;
	position:absolute;
	bottom:-8px;
	right:10%;
}

.ui-footer {
	height :32px;
	font-size:12px;
}

/* Profil joueur */
.tdb {
	border: 2px solid #8c1515; 
	margin-bottom:5%; padding-top:5px; 
	padding-bottom:5px; 
	border-radius:5px;
}


.imgMembre {
border: 2px solid #8c1515	;
width:40px;
height:40px;
}

.divMembre {
margin-left:2%;
margin-right:2%
}

/*Classement */
.avatarClassement {
	width:50px;
	height:50px;
}

.contenu_notif {
	text-align:justify;
	word-wrap:break-word;
	white-space : normal;
	width:75%;
}




