<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Doua Jones</name>
    <description>
        Application Doua Jones de la Bibliothèque Marie Curie
    </description>
    <content src="index.html" />
    <access origin="*" />
	<!-- SplashScreen -->
	<plugin name="SplashScreen" value="org.apache.cordova.SplashScreen"/>
	<feature name="SplashScreen">
    	<param name="android-package" value="org.apache.cordova.splashscreen.SplashScreen" />
		<param name="ios-package" value="CDVSplashScreen" />
	</feature>

	
	
	<!-- Géolocalisation -->
	<feature name="http://api.phonegap.com/1.0/device"/><feature name="http://api.phonegap.com/1.0/geolocation"/><feature name="http://api.phonegap.com/1.0/network"/>
	<plugin name="Geolocation" value="org.apache.cordova.GeoBroker" />

	<!-- Icone -->
	<icon src="img/icon.png" />
	
	<!-- Norification -->
	<plugin name="Notification" value="org.apache.cordova.Notification"/>
	<gap:plugin name="com.phonegap.plugins.pushplugin" />

	
</widget>


